/* Global styles
----------------------------------------- */
body {
  background-color: rgb(160, 178, 189);
}
h1 {
  color: purple;
  font-weight: bold;
  font-size: 20px;
  padding-left: 150px;
  padding-top: 50px;
  /* text-align: center; */
}
h2 {
  font-weight: bold;
  font-size: 20px;
  /* color: brown; */
  /* text-align: center; */
}
h3 {
  font-weight: bold;
  padding-left: 35px;
}
section {
  padding: 20px 20px;
}
section ol {
  padding-left: 300px;
}
section h2 {
  padding-left: 300px;
}
section ul {
  padding-left: 350px;
}
nav li {
  font-family: sans-serif;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}
ol {
  list-style: decimal;
  padding-top: 10px;
  font-size: 20px;
}
ul {
  padding: 10px 40px;
  list-style: square;
  font-size: 20px;
}
p {
  padding-left: 35px;
  padding-right: 100px;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}
.content-margin {
  padding-left: 200px;
}
.education {
  padding-left: 200px;
}
.profile-img {
  height: 250px;
  float: left;
  margin-right: 30px;
  overflow: auto;
}
#top {
  color: rgb(78, 70, 70);
  font-size: 80px;
}
.guessing-game {
  padding-left: 70px;
}
/* Header and Footer 
----------------------------------------- */
header {
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Tangerine', cursive;
}
footer {
  padding-left: 90px;
}