header {
  /* background: #2B2D42; */
  background: beige;
  color: #8D99AE;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: 'Tangerine', cursive;
  /* font-family: cursive; */
  padding-bottom: 40px;
}

h1 {
  color: purple;
  font-weight: bold;
  font-size: 20px;
  padding-left: 50px;
  /* text-align: center; */
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: brown;
}

section {
  background-color: lightgray;
  padding: 20px 20px;
  /* height: 200px;
  width: 200px;
  display: inline-block; */
}

ol {
  list-style: decimal;
  padding: 20px 40px;
  font-size: 20px;
}

ul {
  padding: 10px 40px;
  list-style: square;
  font-size: 20px;
}

#top {
  color:  #8D99AE;
  font-size: 60px;
}

.favorites {
  padding-left: 50px;
  padding-right: 100px;
  background-color: beige;
  display: inline-block;
  border: 2px solid lightgray;
}

.guessing-game {
  background-color: lightcyan;
  padding-left: 250px;
}
